html{
    height: 100%;
    overflow: auto; 
}
.out{
 z-index: 4;
}

.stars, .twinkling, .clouds {
	position:absolute;
	display:block;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height:100%;
}

.stars {
    height:250vh;
	z-index: 0;
	background: rgba(0, 0, 0, 0.986) url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.twinkling{
    height:250vh;
	z-index: 1;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 200s linear infinite;
}

.clouds{
	z-index: 2;
    background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
	animation: move-clouds-back 200s linear infinite;
}

.intro{
    color: rgb(203 200 216);
display: flex;
margin-top: 50px;
margin-left: 25%;
width: 50vw;
padding: 50px;
background: #494a4a10;
border-radius: 10px;
border: 2px solid transparent;
align-items: center;
justify-content: center;
flex-direction: column;
}

.a1{
    font-size: 25px;
    text-shadow:0 1px 1px #f7f7ef, 0 2px 2px rgb(203 200 216);
}
.a2{
    color: rgb(203 200 216);
    font-size: 20;
}

.c2{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.c2 >.card{
  position: relative;
  max-width: 300px;
  height: 215px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction:column ;
  box-shadow: 0 5px  202px  rgba(0,0,0,0.5);
  transition: 0.3 ease-in-out;
}

.card :hover{
  height: 420px;
}

.c2 >.card>.imgBox{
  position: relative;
  width: 100px;
  height: 100px;
  top: -60px;
  left: 20px;
  box-shadow: 0 5px  202px  rgba(0,0,0,0.2);
}
 .imgBox > img{
   max-width: 100%;
   border-radius: 4px;
 }
 
 .c2 >.card >.content{
   position: relative;
   margin-top: -140px;
   padding: 10px 15px;
   text-align: center;
   color: #111;
   visibility: hidden;
   opacity: 0;
   transition: 0.3 ease-in-out;
 }
 
 .content :hover{
   visibility: visible;
   opacity: 1;
   margin-top: -40px;
   transition-delay: 0.3s;
 }

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}

@keyframes move-item-back {
    from{opacity: 0;}
    to{opacity: 1;}

}
 