html{
    height: 100%;
    overflow: auto; 
}
.out{
 z-index: 4;
}

.stars, .twinkling, .clouds {
	position:absolute;
	display:block;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height:100%;
}

.stars {
    height:250vh;
	z-index: 0;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.twinkling{
    height:250vh;
	z-index: 1;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 200s linear infinite;
}

.clouds{
	z-index: 2;
    background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
	animation: move-clouds-back 200s linear infinite;
}

.intro{
    color: rgb(203 200 216);
display: flex;
margin-top: 50px;
margin-left: 25%;
width: 50vw;
padding: 50px;
background: #494a4a10;
border-radius: 10px;
border: 2px solid transparent;
align-items: center;
justify-content: center;
flex-direction: column;
}

.cont{
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.cont>h3{
    color: rgb(203 200 216)
}
.item{
    display: flex;
    margin-bottom: 40px;
    padding: 20px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto minmax(auto, 37px);
    border-style: solid;
    border-width: 1px;
    border-color: #424242;
    border-radius: 5px;
    box-shadow: 1px 1px 12px 0 rgb(66 66 66 / 12%);
}

.item >p{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    font-family: Semplicitapro ;
    color: #f0f0f080;
    /* font-size: 17px; */
    /* line-height: 1.375em; */
    margin: auto;
}
.a1{
    font-size: 25px;
    text-shadow:0 1px 1px #f7f7ef, 0 2px 2px rgb(203 200 216);
}
.a2{
    color: rgb(203 200 216);
    font-size: 20;
}

.item >img{
    grid-column-end: 5;
    grid-column-start: 3;
    grid-row-end: 5;
    grid-row-start: 2;
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}
 

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}

@keyframes move-item-back {
    from{opacity: 0;}
    to{opacity: 1;}

}
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:900');
body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: sans-serif;
  margin: 0;
  background: #6D6027;
  background: -webkit-linear-gradient(left, #D3CBB8, #6D6027);
  background: -o-linear-gradient(left, #D3CBB8, #6D6027);
  background: linear-gradient(to right, #D3CBB8, #6D6027);
}
@media (max-width: 767px) {
  body {
    display: block;
  }
}
.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  height: 300px;
  margin: 20px;
  padding: 0 20px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0.025);
  text-align: center;
  transition: height 1000ms;
  width: 260px;
}
@media (max-width: 767px) {
  .card {
    left: calc(50% - 20px);
    transform: translateX(-50%);
  }
}
.card.expanded {
  height: 400px;
}
.label {
  margin-top: 30px;
  transform: translateY(10px);
  transition: transform 1000ms;
}
.card.expanded .label {
  transform: translateY(0);
}
.text1 {
  clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
  transition: clip-path 1000ms;
}
.card.expanded .text1 {
  clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
}
.text2 {
  clip-path: polygon(0% 100%,0% -80%,15% -70%,17.23% -53.59%,23% -40%,27.23% -28.94%,35% -20%,41.09% -13.59%,50% -10%,58.91% -13.23%,65% -20%,72.77% -28.23%,77% -40%,82.77% -54.65%,85% -70%,100% -80%,100% 100%);
  -webkit-clip-path: polygon(0% 100%,0% -80%,15% -70%,17.23% -53.59%,23% -40%,27.23% -28.94%,35% -20%,41.09% -13.59%,50% -10%,58.91% -13.23%,65% -20%,72.77% -28.23%,77% -40%,82.77% -54.65%,85% -70%,100% -80%,100% 100%);
  transition: clip-path 1000ms;
}
.card.expanded .text2 {
  clip-path: polygon(0% 100%,0% -90%,15% -80%,17.23% -63.59%,23% -50%,27.23% -38.94%,35% -30%,41.09% -23.59%,50% -20%,58.91% -23.23%,65% -30%,72.77% -38.23%,77% -50%,82.77% -64.65%,85% -80%,100% -90%,100% 100%);
  -webkit-clip-path: polygon(0% 100%,0% -90%,15% -80%,17.23% -63.59%,23% -50%,27.23% -38.94%,35% -30%,41.09% -23.59%,50% -20%,58.91% -23.23%,65% -30%,72.77% -38.23%,77% -50%,82.77% -64.65%,85% -80%,100% -90%,100% 100%);
}
.text-content {
  transform: translateY(-160px);
  transition: transform 1000ms;
}
.card.expanded .text-content {
  transform: translateY(-15px);
}
.chevron {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 15px);
  transform-origin: 50%;
  transform: rotate(180deg);
  transition: transform 1000ms;
}
.card.expanded .chevron {
  transform: rotate(0deg);
}
.title {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 900;
  margin: 20px 0 12px;
}
.body-text {
  padding: 0 20px;
}
