.ji{
 background-color: wheat;
 width: 50vw;
 height: 50vh;
 box-shadow: 10px 10px rgb(240, 188, 128) , 10px 10px red;
 border: 4px solid rgba(228, 132, 42, 0.404);
}

.FormGroup {
  border: 5px solid wheat;
  margin: 0 15px 20px;
  padding: 0;
  will-change: opacity, tranform;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}
.StripeElement--webkit-autofill {
  background: transparent !important;
}
.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}
button {
  background: rgb(223, 123, 41);
  border-radius: 4px;
  font-weight: 700;
  color: #fff;
  border: none;
  padding: 7px 15px;
  margin-left: 10px;
  cursor: pointer;
}

button:active {
  background-color: #d782d9;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #e298d8;
  transform: scale(0.99);
}

.main {
  margin-left: 25%;
  margin-top: 5%;
  margin-right: 25%;
}

h1,
h3 {
  text-align: center;
}
