.aa{
  /* height: 100vh; */
  display: flex;
  justify-content: space-around;
  align-items:center;
  background-color: rgba(0, 0, 0, 0.979);
}
.list {
  
  height: 150vh;
  display: flex;
  align-items:center;
  overflow: auto;
  
}


.caarde {
  margin: 20px;
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
  box-shadow: 0 0 20px #535252;
}

.caarde img {
  margin: 30px;
  margin-left: 25%;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.caarde-inner {
  display: flex !important;
  justify-content: center !important;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.4s;
  transform-style: preserve-3d;
  
}

.caarde:hover .caarde-inner {
  transform: rotatey(-180deg);
}
 .caarde-front,
.caarde-back {
 
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}  
 
.caarde-back {
  background-color: #fff7ee;
  color: #414347;
  padding: 20px;
  transform: rotateY(180deg);
   
}
/* 
.caard > h3 :hover {
  text-shadow: 0 0 20px #8f0808;
} */
 