
.item-list {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.it {
  margin-left: 90%;
}
.item-image {
  padding-right: 10px;
  padding-left: 10px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* box-shadow: 0 10px 10px #e5730030, 0 10px 10px #e5730030; */
}

.bord{
  width: 300px;
  height: 500px;
  border: 2px solid white
}
.a{
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}