.home{
    width: 100vw;
    height: 100vh;
    background-position: center;
 
    /* background-image: url(./images/b80.gif); */
 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
